# Data Wrangling
Data wrangling is one of the major steps in data science. Cleaning, filtration and other kind of data handling the most important features of pre-processing of DATA.
The steps of Data Wrangling involves:

1. Handling missing values
2. Data Formatting
3. Data Normalization
4. Data Binning
5. Making dummies

In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
kashti = sns.load_dataset('titanic')
kashti.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [17]:
# simple operations (math operator) if data numeric

(kashti['age']+12).head(10)

#if data is catgorial then string concatination or string function

0    34.0
1    50.0
2    38.0
3    47.0
4    47.0
5     NaN
6    66.0
7    14.0
8    39.0
9    26.0
Name: age, dtype: float64

# Dealing with missing values
In a datset missing values will be NaN,N/A,0 or blank cell.
jab kesi ek row mien data available na ho kesi ek prameter ka

## steps
1. try to recollect data or check mistakes
2. try to remove column contaning missing value if its have no impact/effect on data or simply remove row or data entries.
3. Replace the missing values: how??
    1. avearge value of entire varaible or similer data point
    2. frequency or MODE replacement
    3. replace based on other functions
    4. ML alogrithms
    5. leave it like that
   1. why?
     1. its better beacuse data is not lost
     2. less accurate

In [19]:
#where exactly missing values are?

kashti.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [23]:
# use drop.na method for specific parameter

kashti.dropna(subset=['deck'],axis=0,inplace=True)

(203, 15)

In [25]:
# to drop na
kashti.dropna()

# to update the main dataframe
kashti = kashti.dropna().isnull().sum() #remove na from whole dataframe

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64