In [12]:
import pandas as pd
import numpy as np

# df = pd.Series(['a','b','c','d'],index=[1,2,3,4])
df = pd.Series(['car','bus','train'],index=['a','b','c'])
df

a      car
b      bus
c    train
dtype: object

In [16]:
data_mobile={'mobile':['samsung','nokia','google'],'color':['red','blue','green'],'price':[10,20,30]}

df=pd.DataFrame(data_mobile,columns=['mobile','color','price'])
df

    mobile  color  price
0  samsung    red     10
1    nokia   blue     20
2   google  green     30

In [17]:
pop = {'population':['male','female'],'color':['black','white'],'continent':['asia','africa']}

total =pd.DataFrame(pop,columns=['population','color','continent'])

total

  population  color continent
0       male  black      asia
1     female  white    africa

In [19]:
soil = {'temperature':[4,6,9.9,12,3],'color':['black','white','green','brown','yellow'],'height':[4,10,6,12,9]}

net =pd.DataFrame(soil,columns=['temperature','color','height'])

net

   temperature   color  height
0          4.0   black       4
1          6.0   white      10
2          9.9   green       6
3         12.0   brown      12
4          3.0  yellow       9