In [12]:
import pandas as pd
import numpy as np

# df = pd.Series(['a','b','c','d'],index=[1,2,3,4])
df = pd.Series(['car','bus','train'],index=['a','b','c'])
df

a      car
b      bus
c    train
dtype: object

In [16]:
data_mobile={'mobile':['samsung','nokia','google'],'color':['red','blue','green'],'price':[10,20,30]}

df=pd.DataFrame(data_mobile,columns=['mobile','color','price'])
df

    mobile  color  price
0  samsung    red     10
1    nokia   blue     20
2   google  green     30

In [17]:
pop = {'population':['male','female'],'color':['black','white'],'continent':['asia','africa']}

total =pd.DataFrame(pop,columns=['population','color','continent'])

total

  population  color continent
0       male  black      asia
1     female  white    africa

In [46]:
soil = ({'temperature':[4,6,9.9,12,3],'color':['black','white','green','brown','yellow'],'height':[4,10,6,12,9]})

net =pd.DataFrame(soil,columns=['temperature','color','height'])


net.loc[[2,4],['color']]

    color
2   green
4  yellow

In [47]:
soil = ({'temperature':[4,6,9.9,12,3],'color':['black','white','green','brown','yellow'],'height':[4,10,6,12,9]})

net =pd.DataFrame(soil,columns=['temperature','color','height'])

net.loc

   temperature   color  height
0          4.0   black       4
1          6.0   white      10
2          9.9   green       6
3         12.0   brown      12
4          3.0  yellow       9

In [25]:
import pandas as pd
import numpy as np


fuel = pd.read_csv('FuelConsumption.csv')

fuel.loc[[3,8],['MODELYEAR','FUELTYPE']]

fuel.loc[3:,'TRANSMISSION':]

,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
3,AS6,Z,12.7,9.1,11.1,25,255
4,AS6,Z,12.1,8.7,10.6,27,244
5,AS6,Z,11.9,7.7,10.0,28,230
6,AS6,Z,11.8,8.1,10.1,28,232
7,AS6,Z,12.8,9.0,11.1,25,255
...,...,...,...,...,...,...,...
1062,AS6,X,13.4,9.8,11.8,24,271
1063,AS6,X,13.2,9.5,11.5,25,264
1064,AS6,X,13.4,9.8,11.8,24,271
1065,AS6,X,12.9,9.3,11.3,25,260
1066,AS6,X,14.9,10.2,12.8,22,294