In [12]:
import pandas as pd
import numpy as np

# df = pd.Series(['a','b','c','d'],index=[1,2,3,4])
df = pd.Series(['car','bus','train'],index=['a','b','c'])
df

a      car
b      bus
c    train
dtype: object

In [16]:
data_mobile={'mobile':['samsung','nokia','google'],'color':['red','blue','green'],'price':[10,20,30]}

df=pd.DataFrame(data_mobile,columns=['mobile','color','price'])
df

    mobile  color  price
0  samsung    red     10
1    nokia   blue     20
2   google  green     30

In [17]:
pop = {'population':['male','female'],'color':['black','white'],'continent':['asia','africa']}

total =pd.DataFrame(pop,columns=['population','color','continent'])

total

  population  color continent
0       male  black      asia
1     female  white    africa

In [46]:
soil = ({'temperature':[4,6,9.9,12,3],'color':['black','white','green','brown','yellow'],'height':[4,10,6,12,9]})

net =pd.DataFrame(soil,columns=['temperature','color','height'])


net.loc[[2,4],['color']]

    color
2   green
4  yellow

In [47]:
soil = ({'temperature':[4,6,9.9,12,3],'color':['black','white','green','brown','yellow'],'height':[4,10,6,12,9]})

net =pd.DataFrame(soil,columns=['temperature','color','height'])

net.loc

   temperature   color  height
0          4.0   black       4
1          6.0   white      10
2          9.9   green       6
3         12.0   brown      12
4          3.0  yellow       9

In [27]:
import pandas as pd
import numpy as np


fuel = pd.read_csv('FuelConsumption.csv')

fuel.loc[[3,8],['MODELYEAR','FUELTYPE']]

fuel.loc[3:,'TRANSMISSION':]

fuel.iloc[3:9,2:5]

fuel.iloc[4:,:6]

      MODELYEAR   MAKE     MODEL    VEHICLECLASS  ENGINESIZE  CYLINDERS
4          2014  ACURA   RDX AWD     SUV - SMALL         3.5          6
5          2014  ACURA       RLX        MID-SIZE         3.5          6
6          2014  ACURA        TL        MID-SIZE         3.5          6
7          2014  ACURA    TL AWD        MID-SIZE         3.7          6
8          2014  ACURA    TL AWD        MID-SIZE         3.7          6
...         ...    ...       ...             ...         ...        ...
1062       2014  VOLVO  XC60 AWD     SUV - SMALL         3.0          6
1063       2014  VOLVO  XC60 AWD     SUV - SMALL         3.2          6
1064       2014  VOLVO  XC70 AWD     SUV - SMALL         3.0          6
1065       2014  VOLVO  XC70 AWD     SUV - SMALL         3.2          6
1066       2014  VOLVO  XC90 AWD  SUV - STANDARD         3.2          6

[1063 rows x 6 columns]

In [50]:


dates = pd.date_range('20220721',periods=12)

df =pd.DataFrame(np.random.randn(12,6),index=dates,columns=list('ABCDEF'))
df

                   A         B         C         D         E         F
2022-07-21  0.685003  0.714108  1.158025  1.627549  1.758558  0.597489
2022-07-22  1.480150  0.021715  0.432495 -2.066825  1.038734 -0.064473
2022-07-23  1.848321  0.115059 -1.132515  0.631903  0.225920 -0.717564
2022-07-24 -0.673860 -1.086641 -0.569940 -0.530244 -1.227009  0.495420
2022-07-25  2.924720 -0.613470  0.735993  0.445377  0.134239 -0.395544
2022-07-26  0.496435 -1.512804  0.100925 -0.198003 -1.177554 -0.008310
2022-07-27 -0.317491 -1.706870 -2.354098  0.041470 -0.429450  2.554716
2022-07-28 -0.124306 -0.726301  0.292879  0.136182 -0.563462 -0.888604
2022-07-29 -0.078569 -0.193172 -0.355929  0.586612  0.004938  0.735066
2022-07-30  1.347249 -1.883052 -0.969611 -0.268233  0.959719 -0.430250
2022-07-31 -1.112168  0.860906 -0.610940  1.684704  0.053919 -1.274390
2022-08-01  1.105710  0.613879  1.310092  1.409622 -0.642422 -0.304730

In [22]:
import pandas as pd
import numpy as np
dates = pd.date_range(20220722,periods=9)
final = pd.DataFrame(np.random.randn(9,4),index=dates ,columns=list('ABCD'))

final.iloc[3:6,:3]

                                      A         B         C
1970-01-04 00:00:00.020220722 -2.022223 -0.306768  0.672423
1970-01-05 00:00:00.020220722 -1.324079 -1.427162  0.817287
1970-01-06 00:00:00.020220722 -0.059953 -0.253139 -0.026862