In [2]:
import pandas as pd
import numpy as np

# df = pd.Series(['a','b','c','d'],index=[1,2,3,4])
df = pd.Series(['car','bus','train'],index=['a','b','c'])
df

a      car
b      bus
c    train
dtype: object

In [3]:
data_mobile={'mobile':['samsung','nokia','google'],'color':['red','blue','green'],'price':[10,20,30]}

df=pd.DataFrame(data_mobile,columns=['mobile','color','price'])
df

    mobile  color  price
0  samsung    red     10
1    nokia   blue     20
2   google  green     30

In [4]:
pop = {'population':['male','female'],'color':['black','white'],'continent':['asia','africa']}

total =pd.DataFrame(pop,columns=['population','color','continent'])

total

  population  color continent
0       male  black      asia
1     female  white    africa

In [5]:
soil = ({'temperature':[4,6,9.9,12,3],'color':['black','white','green','brown','yellow'],'height':[4,10,6,12,9]})

net =pd.DataFrame(soil,columns=['temperature','color','height'])


net.loc[[2,4],['color']]

    color
2   green
4  yellow

In [6]:
soil = ({'temperature':[4,6,9.9,12,3],'color':['black','white','green','brown','yellow'],'height':[4,10,6,12,9]})

net =pd.DataFrame(soil,columns=['temperature','color','height'])

net.loc

In [7]:
import pandas as pd
import numpy as np


fuel = pd.read_csv('FuelConsumption.csv')

fuel.loc[[3,8],['MODELYEAR','FUELTYPE']]

fuel.loc[3:,'TRANSMISSION':]

fuel.iloc[3:9,2:5]

fuel.iloc[4:,:6]

      MODELYEAR   MAKE     MODEL    VEHICLECLASS  ENGINESIZE  CYLINDERS
4          2014  ACURA   RDX AWD     SUV - SMALL         3.5          6
5          2014  ACURA       RLX        MID-SIZE         3.5          6
6          2014  ACURA        TL        MID-SIZE         3.5          6
7          2014  ACURA    TL AWD        MID-SIZE         3.7          6
8          2014  ACURA    TL AWD        MID-SIZE         3.7          6
...         ...    ...       ...             ...         ...        ...
1062       2014  VOLVO  XC60 AWD     SUV - SMALL         3.0          6
1063       2014  VOLVO  XC60 AWD     SUV - SMALL         3.2          6
1064       2014  VOLVO  XC70 AWD     SUV - SMALL         3.0          6
1065       2014  VOLVO  XC70 AWD     SUV - SMALL         3.2          6
1066       2014  VOLVO  XC90 AWD  SUV - STANDARD         3.2          6

[1063 rows x 6 columns]

In [25]:


dates = pd.date_range('20220721',periods=12)

df =pd.DataFrame(np.random.randn(12,6),index=dates,columns=list('ABCDEF'))
df.transpose()
df.describe()
df.sort_index(axis=0,ascending=False)
df.sort_values(by='B',ascending=False)
df['D']

2022-07-21   -2.179727
2022-07-22    0.650387
2022-07-23   -2.417964
2022-07-24    0.803297
2022-07-25    0.260436
2022-07-26   -0.113843
2022-07-27    0.387062
2022-07-28    0.352680
2022-07-29    0.351734
2022-07-30   -0.399499
2022-07-31   -0.745626
2022-08-01   -0.628965
Freq: D, Name: D, dtype: float64

In [42]:
import pandas as pd
import numpy as np
dates = pd.date_range(20220822,periods=9)
final = pd.DataFrame(np.random.randn(9,4),index=dates ,columns=list('ABCD'))
#dates shoul be in strings
final.iloc[3:6,:3] #slicing #implicity
final.loc[dates[1]]  #rowwise
final.loc[:,['A','B']] #columnwise
final.at[dates[4],'B'] #scaler value
final[final['A']>0] #boolean filtering

final[final>0]

                                      A         B         C         D
1970-01-01 00:00:00.020220822  1.568326  0.155723  1.459753       NaN
1970-01-02 00:00:00.020220822       NaN  0.473204       NaN  1.130978
1970-01-03 00:00:00.020220822  0.266699  0.953280  1.122398  0.213066
1970-01-04 00:00:00.020220822  0.154160  0.177200  1.906993       NaN
1970-01-05 00:00:00.020220822       NaN  0.467331  0.834749  0.165362
1970-01-06 00:00:00.020220822       NaN  0.096269       NaN  0.857546
1970-01-07 00:00:00.020220822  0.163754       NaN       NaN  0.116624
1970-01-08 00:00:00.020220822  1.551976  0.606375       NaN       NaN
1970-01-09 00:00:00.020220822  0.356956       NaN  1.249744  0.466445