## K-Nearest Neighbors Alogrithm

In [29]:
import pandas as pd

df = pd.read_csv('mldata.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [30]:
df['gender']=df['gender'].replace('Male',0)
df['gender']=df['gender'].replace('Female',1)

df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       0  Biryani
1   41  165.000    70.0       0  Biryani
2   29  171.000    80.0       0  Biryani
3   27  173.000   102.0       0  Biryani
4   29  164.000    67.0       0  Biryani

In [31]:
X = df[['age','weight','gender']]
y = df['likeness']

In [33]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=5).fit(X,y)

model.predict([[74,60,1]])

C:\Users\AI\AppData\Roaming\Python\Python38\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [36]:

# for evaluation and measuring accuracy score 

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=0)

model = KNeighborsClassifier(n_neighbors=5).fit(X_train,y_train)

predicted_values = model.predict(X_test)

score = accuracy_score(predicted_values,y_test)

print('the accuracy is',score)

the accuracy is 0.5918367346938775